<!DOCTYPE html>
{% load static %}
{% load hitcounts %}
<html>
<head>
    <!--meta, title -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Mostly Scottish Politics, a web app for visualising how Members of Scottish parliament vote">
    <meta name="keywords" content="visualisation, Scottish Parliament, msp, constituency, votes, divisions, framework">
    <meta name="author" content="Pierre Hallot, Kris Camilleri, Lama Alssum, Laura Voinea, Cristina Mihailescu">

    <title>MSP - {% block title %}{{activesite.title }}{% endblock %}</title>
    <!--bootstrap, jquery, d3 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'media/img/favicon.ico?v=2' %}" />

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/d3.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/sorttable.js'%}"></script>

</head>

<body>
<!--[if lt IE 7]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> or <a
        href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your
    experience.</p><![endif]-->


<header class="navbar navbar-inverse navbar-fixed-top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".scott-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'media/img/logo.svg' %}" width="50"
                                                                 title="MSP viz"/> {{title}}</a>
        </div>
        <nav class="collapse navbar-collapse scott-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">

                {% for navid, navelem in navbar.items %}
                <li
                {% if activesite.id == navid %} class="active" {% endif %}><a
                    href="{% url navid %}">{{navelem.title}}</a></li>
                {% endfor %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Scatter <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for id, elem in scatter.items %}
                        <li {% if activesite.id == aboutid %} class="active" {% endif %}>
                            <a href="{% url id %}">{{elem.title}}</a>
                        </li>

                {% endfor %}
                    </ul>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form" role="search" method="GET" action="{% url 'search_results' %}">
                        <div class="form-group" style="display:inline;">
                          <div class="input-group" data-toggle="tooltip" data-placement="bottom" title="Postcode, msp name, topic, region, party and more..">
                            <input type="text" class="form-control" name="q" autocomplete="off">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                          </div>
                        </div>
                  </form>
                </ul>
        </nav>
    </div>

</header>

<div class="jumbotron">
    <div class="container">
        <h2>{{activesite.title}}</h2>

        <p>{{activesite.desc}}</p>
    </div>
</div>


<div class="container">

    <!-- Example row of columns -->
    {% block content %}
    <div class="row">
        {% for navid, navelem in navigation_main.items %}
        {% if navid != 'index' %}
        <div class="col-lg-4">
            <p class="lead">{{navelem.title}}</p>

            <p>{{navelem.desc}}</p>

            <p><a class="btn btn-default" href="{% url navid %}">View details &raquo;</a></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}
</div>

<!-- Footer
================================================== -->
<footer class="scott-footer" role="contentinfo">
  <div class="container">
   <div class="scott-social">
  <ul class="scott-social-buttons">
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://getbootstrap.com/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Bootstrap">Tweet</a>
    </li>
      <li class="socials"><div class="fb-like" data-send="false" data-width="150" data-show-faces="true"></div></li>
  </ul>
   </div>

    <p>Built and designed by: &copy; {{copyr}}</p>
    <ul class="scott-footer-links muted">
      <li>v1.0</li>
      <li>&middot;</li>
      <li><a href="https://github.com/TeamCompSci/Spviz-app">GitHub</a></li>
      <li>&middot;</li>
      <li><a href="{% url 'aboutus' %}">About us</a></li>
      <li>&middot;</li>
      <li><a href="{% url 'aboutsp' %}">About the Scottish Parliament</a></li>

    </ul>
     <p>This page has been viewed: {% pagehits %}</p>
  </div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>