{% extends "base.html" %}

{% block content %}

This web app provides <b>easier</b> and/or <b>visual</b> access to data and statistics extracted
from <b>MSP votes</b>.
<br><br>
Unless otherwise stated, raw data is extracted from the official
    <a href="http://www.scottish.parliament.uk/">Scottish Parliament(SP) website</a>,
    seldom supplemented with information gathered from pages on SP at
    <a href="http://en.wikipedia.org/">Wikipedia</a>.
<br><br>
Pages with more information are linked at the bottom.
<br><br>
We welcome any <a class="btn btn-danger" href="https://docs.google.com/forms/d/1IEyoCL6EsHPP2atA9SKCgXvZKUijNx1lpo_8GAZQpC0/viewform?fbzx=-5757272012859487424" target="_blank">feedback</a>
 you might have, so please do complete the form if you can :)
<br><br>

You can contact us by e-mail at <a href="mailto:MostlyScottishPolitics@gmail.com"> <ins>MostlyScottishPolitics@gmail.com</ins></a>
<br><br><br>
{% if divisions %}
    <div class="table-responsive">
        <table class="table table-hover sortable">
             <caption>Latest divisions </caption>
            <thead>
            <tr>
                <th>Division</th>
                <th>Date</th>
                <th width="50%">Topic</th>
                <th>Result</th>
                <th>Turnout</th>
                <th>Rebels</th>
            </tr>
            </thead>

            <tbody>
            {% for division in divisions %}
                {% if division.result == '1' %}
                <tr class="bg-success">
                    <td><a href="{% url 'division' division.id %}">{{division.motionid}}</a></td>
                    <td sorttable_customkey="{{division.id}}">{{division.date}}</td>
                    <td>{{division.topic}}</td>
                    <td>Carried</td>
                    <td>{{division.turnout}}% </td>
                    <td>{{division.rebels}}</td>
                </tr>
                {% else %}
                <tr>
                    <td><a href="{% url 'division' division.id %}">{{division.motionid}}</a></td>
                    <td sorttable_customkey="{{division.id}}">{{division.date}}</td>
                    <td>{{division.topic}}</td>
                    <td>Defeated</td>
                    <td>{{division.turnout}}% </td>
                    <td>{{division.rebels}}</td>
                </tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}