{% extends "base.html" %}

{% block content %}

This website is supposed to help people have <b>easier access to statistics and visualise data</b> extracted
from the votes of the <b>Members of the Scottish Parliament</b>.
<br><br>

The data is extracted from the official <a href="http://www.scottish.parliament.uk/">Scottish Parliament website</a>.
<br><br>
{% if divisions %}
    <div class="table-responsive">
        <table class="table table-hover sortable">
             <caption>Latest divisions </caption>
            <thead>
            <tr>
                <th>Division</th>
                <th>Date</th>
                <th width="50%">Topic</th>
                <th>Result</th>
                <th>Turnout</th>
                <th>Rebels</th>
            </tr>
            </thead>

            <tbody>
            {% for division in divisions %}
                {% if division.result == '1' %}
                <tr class="bg-success">
                    <td><a href="{% url 'division' division.id %}">{{division.motionid}}</a></td>
                    <td sorttable_customkey="{{division.id}}">{{division.date}}</td>
                    <td>{{division.topic}}</td>
                    <td>Carried</td>
                    <td>{{division.turnout}}% </td>
                    <td>{{division.rebels}}</td>
                </tr>
                {% else %}
                <tr>
                    <td><a href="{% url 'division' division.id %}">{{division.motionid}}</a></td>
                    <td sorttable_customkey="{{division.id}}">{{division.date}}</td>
                    <td>{{division.topic}}</td>
                    <td>Defeated</td>
                    <td>{{division.turnout}}% </td>
                    <td>{{division.rebels}}</td>
                </tr>
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}