{% extends "msp/base.html" %}

{% block content %}

The <b>Scottish Parliament</b> also reffered to, in Gaelic, as <b>Pàrlamaid na h-Alba</b>, is the devolved national,
unicameral legislature of Scotland. The current Parliament exists since May 12, 1999. This is the fourth session and it
will last for 5 years (until the 5 may 2016 elections). All previous sessions have been 4 years long
(1999-2003, 2003-2007, 2007-2011).
<br> <br>

There are (usually) 129 <b>Members of the Scottish Parliament</b>, reffered to, in short, as <a
        href="{% url 'msps' %}">MSPs</a>.
Out of the 129 members, 73 represent individual geographical constituencies and
56 are elected as 7 for each of the 8. Each person in Scotland is therefore represented
by 8: 1 for his constituency and 7 for his region. To find the MSPs that represents you, enter your full postcode in
the search bar at the top right corner.
<br><br>

The MSPs vote, several times a week, on devolved <b>matters</b>. At the moment these include:
<ul>
    <li>agriculture, forestry and fisheries</li>
    <li>education and training</li>
    <li>environment</li>
    <li>health and social services</li>
    <li>housing</li>
    <li>law and order</li>
    <li>local government</li>
    <li>sport and the arts</li>
    <li>tourism and economic development</li>
    <li>many aspects of transport</li>
</ul>

We have extracted 12 topics for the motions voted by MSPs, based arround these matters. However, the topics can be subject to change.

<br><br>
*information gathered from the <a href="http://www.scottish.parliament.uk/">Scottish Parliament website</a> and the <a
        href="http://en.wikipedia.org/wiki/Scottish_Parliament">Wikipedia page on SP</a>.

{% endblock %}