{% extends "msp/base.html" %}

{% block content %}


    <div >
        {% if constituency.parent == None %}

        <p>Main region: {{ constituency.name }}</p>
        {% else %}
        <p> Region: <a href="{% url 'constituency' constituency.parent.id %}">{{ constituency.parent }}</a></p>
        {% endif %}

</div>

<ul class="list-group">
    {% for msp in constituency_msps %}
    <li class="list-group-item"><i class="glyphicon glyphicon-user"></i> <a href="{% url 'msp' msp.foreignid %}">{{msp.firstname}}
        {{msp.lastname}}</a> &emsp; &emsp; <a href="{% url 'party' msp.party.id %}">{{msp.party}}</a>
    </li>

    {% endfor %}
</ul>
{% endblock %}