{% extends "msp/base.html" %}

{% block content %}
<a class="btn btn-default back" href="/msp/msps"><i class="glyphicon glyphicon-circle-arrow-left"></i>All MSPs</a>
{% if msp %}

<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
         <div class="row">

     <div class="col-md-6 ">
        <img class="img-thumbnail" src="{{ msp.img }}">
     </div>
     <div class="col-md-6 ">
            <p class="lead">Member of: <a href="/msp/party/{{msp.party.id}}">{{msp.party.name}}</a> from {{msp.party_startdate}} to {{msp.party_enddate}} </p>
<!--        <p>Previously member of: </p> -->

        <p class="lead">Represents: <a href="/msp/constituency/{{msp.constituency.id}}">{{msp.constituency.name}}</a></p>

        {% if jobs %}
            <p class="lead">Positions held: </p>
            {% for job in jobs %}
                <p>{{job.name}} from {{msp.party_startdate}} to {{msp.party_enddate}}</p>
            {% endfor %}
        {% endif %}

        {% if msp.status == '2' %}
            <p> Has resigned </p>
        {% elif msp.status == '3'%}
            <p> Unfortunately deceased </p>
        {% endif %}
    </div>
    </div>
         </div>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active" id="rebellions"><a href="#rebellions" >Rebellions</a></li>
  <li role="presentation" id="attendance"><a href="#attendance" >Attendance</a></li>
</ul>
<div id="rebel">
{% if rebellions %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover sortable">
             <caption>A 'rebellion' is when a MSP votes differently than his party. <br> {{msp}} rebelled {{msp.rebellions}}%  </caption>

            <thead>
            <tr>
                <th>Division</th>
                <th>Date</th>
                <th>Topic</th>
                <th>Result</th>
                <th>Turnout</th>
                <th>Rebels</th>
                <th>Party Vote</th>
                <th>MSP Vote</th>
            </tr>
            </thead>

            <tbody>
            {% for rebellion in rebellions %}

                {% if rebellion.division.result == '1' %}
                    <tr class="bg-success">
                        <td><a href="/msp/division/{{rebellion.division.id}}">{{rebellion.division}}</a></td>
                        <td sorttable_customkey="{{rebellion.division.id}}">{{rebellion.division.date}}</td>
                        <td>{{rebellion.division.topic}}</td>
                        <td>Carried</td>
                        <td>{{rebellion.division.turnout}}% </td>
                        <td>{{rebellion.division.rebels}}</td>
                        {% if rebellion in party_for %}
                            <td>For</td>
                        {% elif rebellion in party_against %}
                            <td>Against</td>
                        {% elif rebellion in party_abstain %}
                            <td>Abstain</td>
                        {% elif rebellion in party_absent%}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                        {% if rebellion in for %}
                            <td>For</td>
                        {% elif rebellion in against %}
                            <td>Against</td>
                        {% elif rebellion in abstain %}
                            <td>Abstain</td>
                        {% elif rebellion in absent%}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                    </tr>

                    {% else %}
                    <tr>
                        <td><a href="/msp/division/{{rebellion.division.id}}">{{rebellion.division}}</a></td>
                        <td sorttable_customkey="{{rebellion.division.id}}">{{rebellion.division.date}}</td>
                        <td>{{rebellion.division.topic}}</td>
                        <td>Defeated</td>
                        <td>{{rebellion.division.turnout}}% </td>
                        <td>{{rebellion.division.rebels}} </td>
                        {% if rebellion in party_for %}
                            <td>For</td>
                        {% elif rebellion in party_against %}
                            <td>Against</td>
                        {% elif rebellion in party_abstain %}
                            <td>Abstain</td>
                        {% elif rebellion in party_absent%}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                        {% if rebellion in for %}
                            <td>For</td>
                        {% elif rebellion in against %}
                            <td>Against</td>
                        {% elif rebellion in abstain %}
                            <td>Abstain</td>
                        {% elif rebellion in absent%}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                    </tr>

                    {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    {% else %}
    <div class="well">
    <p class="lead">Nothing to see here</p></div>
{% endif %}
</div>
 <div id="attend">
     {% if attendance %}
     <div class="container">
    <div class="table-responsive">
        <table class="table table-hover sortable">
             <caption> Attendance is computed over all votes possible. <br> {{msp}} was present for {{msp.presence}}% </caption>

            <thead>
            <tr>
                <th>Division</th>
                <th>Date</th>
                <th>Topic</th>
                <th>Result</th>
                <th>MSP Vote</th>
            </tr>
            </thead>

            <tbody>
            {% for attend in attendance %}
                {% if attend.division.result == '1' %}
                    <tr class="bg-success">
                        <td><a href="/msp/division/{{attend.division.id}}"> {{attend.division}}</a></td>
                        <td sorttable_customkey="{{attend.division.id}}">{{attend.division.date}}</td>
                        <td>{{attend.division.topic}}</td>
                        <td>Carried</td>
                        {% if attend.vote == '1' %}
                            <td>For</td>
                        {% elif attend.vote == '2' %}
                            <td>Against</td>
                        {% elif attend.vote == '3' %}
                            <td>Abstain</td>
                        {% endif %}
                    </tr>

                    {% else %}
                    <tr>
                        <td><a href="/msp/division/{{attend.division.id}}">{{attend.division}}</a></td>
                        <td sorttable_customkey="{{attend.division.id}}">{{attend.division.date}}</td>
                        <td>{{attend.division.topic}}</td>
                        <td>Defeated</td>
                        {% if attend.vote == '1' %}
                            <td>For</td>
                        {% elif attend.vote == '2' %}
                            <td>Against</td>
                        {% elif attend.vote == '3' %}
                            <td>Abstain</td>
                        {% endif %}
                    </tr>

                    {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    {% else %}
    <div class="well">
    <p class="lead">Nothing to see here</p></div>
{% endif %}
</div>
{% endif %}
<a class="btn btn-default back" href="/msp/msps"><i class="glyphicon glyphicon-circle-arrow-left"></i>All MSPs</a>
{% endblock %}