{% extends "msp/base.html" %}
{% load hitcounts %}
{% block content %}
{% pagehits %}
{% if msps %}
<a class="btn btn-default back" href="{% url 'export_csv' 'msps' %}"><i class="glyphicon glyphicon-download"></i> Export to Csv</a>

    <div class="table-responsive">
        <table class="table table-striped table-hover sortable">
            <caption>{{count}} Members of Scottish Parliament for the current session</caption>
            <thead>
            <tr>
                <th>MSP</th>
                <th>Party</th>
                <th>Constituency</th>
                <th>Rebellions</th>
                <th>Attendance</th>
            </tr>
            </thead>

            <tbody>
            {% for msp in msps %}
            <tr>
                <td sorttable_customkey="{{msp.lastname}}"><i class="glyphicon glyphicon-user"></i> <a href="{% url 'msp' msp.foreignid %}">{{msp}}</a></td>
                <td><a href="{% url 'party' msp.party.id %}">{{msp.party}}</a></td>
                <td><a href="{% url 'constituency' msp.constituency.id %}">{{msp.constituency}}</a></td>
                {% if msp.rebellions != None %}
                    <td>{{msp.rebellions}}%</td>
                {% else %}
                    <td>NA</td>
                {% endif %}
                {% if msp.presence %}
                    <td>{{msp.presence}}%</td>
                {% else %}
                    <td>NA</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}