{% extends "msp/base.html" %}

{% block content %}
<div class="plot" id = "plot"> </div>
{% load staticfiles %}
<link href="{% static 'css/scatter.css' %}" rel="stylesheet">

<script src="{% static 'js/visualisation/scatter.js' %}"></script>
<button class="btn btn-default" onclick="reset()">Reset</button>
<br>
<form action = "/msp/scatter/" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td style="align-content: center">
    <fieldset>
        <legend>Parties</legend>
        {% for p in parties %}
        <input type="checkbox" name="party" value={{p.id}}>{{p.name}}
        <br>
        {% endfor %}
    </fieldset>
                </td>
            <td>
     <fieldset>
        <legend>Topics</legend>
         {% for t in topics %}
        <input type="checkbox" name="topic" value={{t.id}}>{{t.name}}
        <br>
        {% endfor %}
     </fieldset>
            </td>
            </tr>
        </table>
    <input type="submit">

</form>
{% endblock %}

