.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
	background-color: #5d3c70;
}
.contactinfo{
	float:right;
}


.navbar-brand{
	padding-left:70px;
}

.navbar-brand img{
	position:absolute;
	margin:-7px 0 0 -55px;
}



td, th {
	padding:2px 12px;
}

tr.divider{
	border-bottom: 
}
