h1, h2{
	color: #336600;
}


@media (min-width: 768px) {
  .navbar-nav .active{
	margin:0 0 -6px 0;
	border-bottom:1px solid #59B459;
  }
}

.contactinfo{
	float:right;
}


.navbar-brand{
	padding-left:70px;
}

.navbar-brand img{
	position:absolute;
	margin:-7px 0 0 -55px;
}



td, th {
	padding:2px 12px;
}