.axis path,
		    .axis line {
		        fill: none;
		        stroke: black;
		        shape-rendering: crispEdges;
		}
		.text{
		font-size: 11px;
		}
		svg{
			stroke: black;
			width: 100%;
		}
		.tooltip {
            position: absolute;
            font: 12px;
            font-weight: bold;
            border-radius: 5px;

        }