{% extends "base.html" %}

{% block content %}

{% if party %}

<a class="btn btn-default back" href="{% url 'msps' %}"><i class="glyphicon glyphicon-circle-arrow-left"></i>All MSPs</a>
<div class="panel panel-default">
    <div class="panel-heading">About {{party.name}}</div>
    <div class="panel-body">
<div id="divinfo">
        {% if party.link %}
            <p><b> External link: </b> <a href={{party.link}}> {{party.link}} </a></p>
        {% endif %}
        {% if party.description %}
            <p align="justify"><b> Description: </b>{{party.description|linebreaksbr}} </p>
            {% if party.description_link %}
                <p><b> description taken from: </b> <a href={{party.description_link}}> {{party.description_link}} </a></p>
            {% endif %}
        {% endif %}

    </div>
    </div>
</div>


{% if partymsps %}
<div class="panel panel-default">
    <caption></caption>
    <div class="panel-heading">Party members</div>
    <div class="table-responsive">
        <table class="table table-striped table-hover sortable">
            <thead>
            <tr>
                <th>MSP</th>
                <th>From</th>
                <th>To</th>
                <th>Constituency</th>
            </tr>
            </thead>

            <tbody>

    {% for msp in partymsps %}

            <tr>

                <td>
                    <i class="glyphicon glyphicon-user"></i> <a href="{% url 'msp' msp.foreignid %}">{{msp.firstname}}
                    {{msp.lastname}}</a>
                </td>
                <td>{{msp.party_startdate}}</td>

                <td>{{msp.party_enddate}}</td>
                <td><a href="{% url 'constituency' msp.constituency.id %}">{{msp.constituency}}</a></td>
            </tr>
    {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endif %}
{% endif %}
{% endblock %}