{% extends "scottviz_app/base.html" %}

{% block content %}

We are 5 MSc Computing Science Students at the University of Glasgow and this is our Team Project!
<br> <br>

This website is supposed to help people have <b>easier access to statistics and visualise data</b> extracted
from the votes of the <b>Members of the Scottish Parliament</b>.
<br><br>

The data is extracted from the official <a href="http://www.scottish.parliament.uk/">Scottish Parliament website</a>.
As we realise that we cannot provide all the visualisations users might want, we hope to allow for algorithms to be uploaded
and used to render the data visualy.
<br><br>


Our goals:
<br>
<ul>
    <li>We aim to update the data weekly</li>
    <li>We will provide some visualisations</li>
    <li>We will provide a framework for users to upload their own algorithms</li>
</ul>
{% endblock %}