{% extends "scottviz_app/base.html" %}

{% block content %}
Matters for discussion in the Parliament

Agriculture

Civil and Criminal Justice

Education

Environment

Health

Housing

Local Government

Planning

Police and fire services

Social work

Sports and the Arts

Transport

Elections

Normally every 4 years, but for this session it will be 5 (2011-2016)

Each voter has 2 votes: for his constituency and for his region

73 constituencies, 8 regions

Each person in Scotland is represented by 8 MSPs: 1 for his constituency and 7 for his region

Constituency election are on an individual basis (even though most candidates belong to parties)

Region election is f*cking weird: on one hand you vote for a party or independent candidates and they consider the percentages, but on the other hand they adjust these taking into account the constituency results.

What? the Scottish Government is not a separate institution?

Indeed, the First Minister is chosen from among the MSPs and then he chooses the Ministers from the MSPs

And here is where it becomes weird... if u are not a "special" MSP (called backbenchers) you can not get a motion to be debated and decided upon unless you get a lot of support.

A backbench MSP is an MSP that is not in the government and not a frontbench spokesperson for the opposition.

Most of the motions lodged are not even intended for debate, but are lodged by MSPs for a variety of reasons such as drawing attention to a particular topic, offering congratulations to an organisation, seeking support for a cause or highlighting a particular event.

And even though they say they don't depend on Westminster, they do depend on the Queen to give her final seal of approval before laws come into effect.

ok, the last couple of items are not relevant, but extremely funny. If you want more SP fun watch the Scottish Parliament tv

Where is the interesting stuff?

People using our application will be interested in:

Finding the MSPs that represent them (1+7)

The biography of MSPs

Acts that were decided upon brought forward by backbenchers

When rebellions occurred (usually MSPs vote as they are told by their party, otherwise they can be punished by a lack of support if they are backbenchers or even by exclusion from the party; MSPs are free to vote as they like when it comes to moral laws)

For more information about decision time here
{% endblock %}