<!DOCTYPE html>
{% load static %}
<html>
<head>
    <!--meta, title -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mostly Scottish Politics, a web app for visualising how Members of Scottish parliament vote">
    <meta name="keywords" content="visualisation, Scottish Parliament, msp, constituency, votes, divisions, framework">
    <meta name="author" content="Pierre Hallot, Kris Camilleri, Lama Alssum, Laura Voinea, Cristina Mihailescu">

    <title>MSP - {% block title %}{{activesite.title }}{% endblock %}</title>
    <!--bootstrap, jquery, d3 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/d3.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/sorttable.js'%}"></script>

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>


</head>

<body>
<!--[if lt IE 7]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a
        href="http://browsehappy.com/">upgrade your browser</a> or <a
        href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your
    experience.</p><![endif]-->


<header class="navbar navbar-static-top navbar-inverse scott-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'media/img/ScottCat.png' %}" width="50"
                                                                 title="MSP viz"/> {{title}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                {% for navid, navelem in navbar.items %}
                <li
                {% if activesite.id == navid %} class="active" {% endif %}><a
                    href="{% url navid %}">{{navelem.title}}</a></li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <div class="search_container">
                <form class="navbar-form" role="search" method="GET" action="{% url 'search_results' %}">
                    <div class="input-group">
                        <input type="text" class="form-control pull-left" placeholder="search by postcode" name="q">

                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                </div>
            </ul>

        </div>
    </div>
    </div>
</header>

<div class="jumbotron">
    <div class="container">
        <h2>{{activesite.title}}</h2>

        <p>{{activesite.desc}}</p>
    </div>
</div>


<div class="container">

    <!-- Example row of columns -->
    {% block content %}
    <div class="row">
        {% for navid, navelem in navigation_main.items %}
        {% if navid != 'index' %}
        <div class="col-lg-4">
            <h2>{{navelem.title}}</h2>

            <p>{{navelem.desc}}</p>

            <p><a class="btn btn-default" href="{% url navid %}">View details &raquo;</a></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}
</div>

<!-- Footer
================================================== -->
<footer class="scott-footer" role="contentinfo">
  <div class="container">
   <!-- <div class="scott-social">
  <ul class="scott-social-buttons">
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://getbootstrap.com/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Bootstrap">Tweet</a>
    </li>
  </ul>
   </div> -->

    <p>Built and designed by: &copy; {{copyr}}</p>
    <ul class="scott-footer-links muted">
      <li>v1.0</li>
      <li>&middot;</li>
      <li><a href="https://github.com/TeamCompSci/Spviz-app">GitHub</a></li>
      <li>&middot;</li>
      <li><a href="/msp/aboutus/">About us</a></li>
      <li>&middot;</li>
      <li><a href="/msp/aboutsp/">About the Scottish Parliament</a></li>

    </ul>
  </div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>