{% extends "scottviz_app/base.html" %}

{% block content %}
<a class="btn btn-default back" href="/msp/divisions"><i class="glyphicon glyphicon-circle-arrow-left"></i>All Divisions</a>
<div class="panel panel-default">
    <div class="panel-heading">About {{division.motionid}}</div>
    <div class="panel-body">
<div id="divinfo">
        <p><b> Topic: </b>{{division.topic}} </p>

 <!-- proposer not in the db yet -->
 <!--       <p>Proposed by: <a href="/msp/msp/{{msp.foreignid}}">{{division.msp.firstname}} {{division.msp.lastname}}</a></p> -->

       {% if division.motiontext != 'n/a' %}
            <p><b> Description:</b> {{division.motiontext}}</p>
       {% else %}
            <p><b> Description:</b> {{division.motiontext}}; Look for related divisions</p>
            <p><b> Some related text:</b> {{division.motiontopic}}</p>
       {% endif %}


        <p>See on <b>Scottish Parliament website</b>:  {{division.link}}
        <p> <b> Result:</b>
         {% if division.result == '1'%}
                   Carried
                {% else %}
                    Defeated
         {% endif %} </p>
        <p><b>Turnout: </b>{{division.turnout}}%</p>
        <p><b>Date: </b>{{division.date}}</p>

</p>
    </div>
    </div>


</div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active" id="rebels"><a href="#rsc" >Rebels</a></li>
  <li role="presentation" id="votes"><a href="#vot" >Votes</a></li>
  <li role="presentation" id="byparty"><a href="#bpc" >Votes by Party</a></li>
  <li role="presentation" id="related"><a href="#relc" >Related divisions</a></li>
</ul>

<div id="rsc">
{% if rebels %}
     <div class="container">
    <div class="table-responsive">
        <table class="table table-hover sortable">
             <caption>A 'rebellion' is when an MSP votes differently than his party . Here you can see the 'rebels' that voted differently for this division. </caption>

            <thead>
            <tr>
                <th>MSP</th>
                <th>Party</th>
                <th>Party Vote</th>
                <th>MSP Vote</th>
                <th>Result</th>
                <th>Turnout</th>
            </tr>
            </thead>

            <tbody>
            {% for rebel in rebels %}

                {% if rebel.division.result == '1' %}
                    <tr class="bg-success">
                        <td><a href="/msp/msp/{{rebel.msp.foreignid}}">{{rebel.msp}}</a></td>
                        <td>{{rebel.msp.party}}</td>
                        {% if rebel in party_for %}
                            <td>For</td>
                        {% elif rebel in party_against %}
                            <td>Against</td>
                        {% elif rebel in party_abstain %}
                            <td>Abstain</td>
                        {% elif rebel in party_absent%}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                        {% if rebel in for %}
                            <td>For</td>
                        {% elif rebel in against %}
                            <td>Against</td>
                        {% elif rebel in abstain %}
                            <td>Abstain</td>
                        {% elif rebel in absent%}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                        <td>Carried</td>
                        <td>{{rebel.division.turnout}}% </td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a href="/msp/msp/{{rebel.msp.foreignid}}">{{rebel.msp}}</a></td>
                        <td>{{rebel.msp.party}}</td>
                        {% if rebel in party_for %}
                            <td>For</td>
                        {% elif rebel in party_against %}
                            <td>Against</td>
                        {% elif rebel in party_abstain %}
                            <td>Abstain</td>
                        {% elif rebel in party_absent%}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                        {% if rebel in for %}
                            <td>For</td>
                        {% elif rebel in against %}
                            <td>Against</td>
                        {% elif rebel in abstain %}
                            <td>Abstain</td>
                        {% elif rebel in absent%}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                        <td>Defeated</td>
                        <td>{{rebel.division.turnout}}% </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div> </div>
    {% else %}
    <div class="well">
    <p class="lead">Nothing to see here</p></div>
{% endif %}
</div>

<div id="vot">
{% if votes %}
     <div class="container">
    <div class="table-responsive">
        <table class="table table-hover sortable">
             <caption> All the votes for this division with turnout: {{division.turnout}} </caption>

            <thead>
            <tr>
                <th>MSP</th>
                <th>Party</th>
                <th>MSP Vote</th>
            </tr>
            </thead>

            <tbody>
            {% for vote in votes %}
                    <tr>
                        <td sorttable_customkey="{{vote.msp.lastname}}"><a href="/msp/msp/{{vote.msp.foreignid}}">{{vote.msp}}</a></td>
                        <td><a href="/msp/msp/{{vote.msp.party}}">{{vote.msp.party}}</a></td>
                        {% if vote.vote == '1' %}
                            <td>For</td>
                        {% elif vote.vote == '2' %}
                            <td>Against</td>
                        {% elif vote.vote == '3' %}
                            <td>Abstain</td>
                        {% elif vote.vote == '4' %}
                            <td>Absent</td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
         </div>
    {% else %}
    <div class="well">
    <p class="lead">Nothing to see here</p></div>
{% endif %}
</div>

<div id="bpc">
{% if parties %}
     <div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Party</th>
                <th>Pro</th>
                <th>Con</th>
                <th>Turnout</th>
            </tr>
            </thead>

            <tbody>
            {% for party in parties %}
                <tr>
                    <td>{{party}}</td>
                    <td>{{party_pro}}</td>
                    <td>{{party_con}}</td>
                    <td>{{party_turnout}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> </div>
{% else %}
    <div class="well">
    <p class="lead">Nothing to see here</p></div>
{% endif %}
</div>

<div id="relc">
    {% if related %}
    <div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover sortable">
            <thead>
            <tr>
                <th>Division</th>
                <th>Date</th>
                <th>Topic</th>
                <th>Result</th>
                <th>Turnout</th>
                <th>Rebels</th>
            </tr>
            </thead>

            <tbody>

            {% for division in related %}
            <tr>
                <td><a href="/msp/division/{{division.id}}">{{division}}</a></td>
                <td>{{division.date}}</td>
                <td>{{division.topic}}</td>
                {% if division.result == '1'%}
                    <td><p> Carried </p></td>
                {% else %}
                    <td><p> Defeated </p></td>
                {% endif %}
                <td>{{division.turnout}}</td>
                {% if division.rebels %}
                    <td>{{division.rebels}}</td>
                {% else %}
                    <td>{{division.rebels}}</td>
                {% endif %}
            </tr>
                {% endfor %}

            </tbody>
        </table>
</div> </div>
        {% else %}
    <div class="well">
    <p class="lead">Nothing to see here</p></div>
    {% endif %}
    </div>

<a class="btn btn-default back" href="/msp/divisions"><i class="glyphicon glyphicon-circle-arrow-left"></i>All Divisions</a>
{% endblock %}