{% extends "scottviz_app/base.html" %}

{% block content %}
<a class="btn btn-default back" href="/msp/divisions"><i class="glyphicon glyphicon-circle-arrow-left"></i>All Divisions</a>
<div class="panel panel-default">
<!--    <div class="panel-heading"></div> -->
    <div class="panel-body">

        <p>Topic: {{division.topic}} </p>

 <!-- proposer not in the db yet -->
 <!--       <p>Proposed by: <a href="/msp/msp/{{msp.foreignid}}">{{division.msp.firstname}} {{division.msp.lastname}}</a></p> -->

        <p>Description: {{division.motiontext}}</p>


        <p>See on Scottish Parliament website:  {{division.link}}

    </div>


</div>

<div class="panel panel-default">
    <div class="panel-heading">More about this division</div>
    <div class="table-responsive">
        <table class="table table-striped table-hover sortable">
            <thead>
            <tr>
                <th>Division</th>
                <th>Date</th>
                <th>Topic</th>
                <th>Result</th>
                <th>Turnout</th>
                <th>Rebels</th>
            </tr>
            </thead>

            <tbody>

            <tr>
            <tr>

                <td>{{division}}</td>
                <td>{{division.date}}</td>
                <td>{{division.topic}}</td>
                {% if division.result == '1'%}
                    <td><p> Carried </p></td>
                {% else %}
                    <td><p> Defeated </p></td>
                {% endif %}
                <td>{{division.turnout}}</td>
                {% if division.rebels %}
                    <td><a href="/msp/rebels/{{division.id}}">{{division.rebels}}</a> </td>
                {% else %}
                    <td>{{division.rebels}}</td>
                {% endif %}
            </tr>
            </tr>

            </tbody>
        </table>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Votes by party</div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Party</th>
                <th>Pro</th>
                <th>Con</th>
                <th>Turnout</th>
            </tr>
            </thead>

            <tbody>

            <tr>
            <tr>
               {% for party in parties %}
                    <td>{{party.name}}</td>
                    <td>{{party.pro}}</td>
                    <td>{{party.con}}</td>
                    <td>{{party.turnout}}</td>
                {% endfor %}
            </tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>



<a class="btn btn-default back" href="/msp/divisions"><i class="glyphicon glyphicon-circle-arrow-left"></i>All Divisions</a>
{% endblock %}