{% extends "scottviz_app/base.html" %}

{% block content %}
<a class="btn btn-default back" href="/msp/msps"><i class="glyphicon glyphicon-circle-arrow-left"></i>All MSPs</a>
{% if msp %}

<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <img src="{{ msp.img }}">

            <p>Member of: <a href="/msp/party/{{msp.party.id}}">{{msp.party.name}}</a> from {{msp.party_startdate}} to {{msp.party_enddate}} </p>
<!--        <p>Previously member of: </p> -->

        <p>Represents: <a href="/msp/constituency/{{msp.constituency.id}}">{{msp.constituency.name}}</a></p>

        {% if jobs %}
            <p>Positions held: </p>
            {% for job in jobs %}
                <p>{{job.name}} from {{msp.party_startdate}} to {{msp.party_enddate}}</p>
            {% endfor %}
        {% endif %}

        {% if msp.status == '2' %}
            <p> Has resigned </p>
        {% elif msp.status == '3'%}
            <p> Unfortunately deceased </p>
        {% endif %}

    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover sortable">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Rebellions</th>
                <th>Attendance</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{msp.member_startdate}}</td>
                <td>{{msp.member_enddate}}</td>
                {% if msp.rebellions %}
                    <td><a href="/msp/rebellions/{{msp.id}}">{{msp.rebellions}}% </a></td>
                {% else %}
                    <td>{{msp.rebellions}}% </td>
                {% endif %}
                <!-- NEEEEED TO ALSO PRINT DIVISIONS -->
                <td>{{msp.presence}}%</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
{% endif %}
<a class="btn btn-default back" href="/msp/msps"><i class="glyphicon glyphicon-circle-arrow-left"></i>All MSPs</a>
{% endblock %}