{% extends "scottviz_app/base.html" %}

{% block content %}
{% if msps %}

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Msp</th>
                <th>Party</th>
                <th>Constituency</th>
                <th>Rebellions</th>
                <th>Attendance</th>
            </tr>
            </thead>

            <tbody>
            {% for msp in msps %}
            <tr>
                <th><a href="/msp/msp/{{msp.foreignid}}">{{msp}}</a></th>
                <th><a href="/msp/party/{{msp.party.id}}">{{msp.party}}</a></th>
                <th><a href="/msp/constituency/{{msp.constituency.id}}">{{msp.constituency}}</a></th>
                <th></th>
                <th></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}