{% extends "scottviz_app/base.html" %}

{% block content %}
{% if msps %}
<a class="btn btn-default back" href="/msp/export_csv/msps"><i class="glyphicon glyphicon-download"></i> Export to Csv</a>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover sortable">
            <thead>
            <tr>
                <th>Msp</th>
                <th>Party</th>
                <th>Constituency</th>
                <th>Rebellions</th>
                <th>Attendance</th>
            </tr>
            </thead>

            <tbody>
            {% for msp in msps %}
            <tr>
                <th><a href="/msp/msp/{{msp.foreignid}}">{{msp}}</a></th>
                <th><a href="/msp/party/{{msp.party.id}}">{{msp.party}}</a></th>
                <th><a href="/msp/constituency/{{msp.constituency.id}}">{{msp.constituency}}</a></th>
                {% if msp.rebellions != None %}
                    {% if msp.rebellions %}
                        <th><a href="/msp/rebellions/{{msp.id}}">{{msp.rebellions}}%</a></th>
                    {% else %}
                        <th>{{msp.rebellions}}%</th>
                    {% endif %}
                {% else %}
                    <th>NA</th>
                {% endif %}
                {% if msp.presence %}
                    <th>{{msp.presence}}%</th>
                {% else %}
                    <th>NA</th>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}