{% extends "scottviz_app/base.html" %}

{% block content %}
{% if dict.msps %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Party</th>
                <th>Constituency</th>
            </tr>
            </thead>

            <tbody>
            {% for msp in dict.msps %}
            <tr>
                <th>{{msp}}</th>
                <th>{{msp.party}}</th>
                <th>{{msp.constituency}}</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}