{% extends "scottviz_app/base.html" %}

{% block content %}

{% if party %}


{% if partymsps %}
<div class="panel panel-default">
    <div class="panel-heading">Party members</div>
    <div class="table-responsive">
        <table class="table table-striped table-hover sortable">
            <thead>
            <tr>
                <th>MSP</th>
                <th>From</th>
                <th>To</th>
                <th>Constituency</th>
            </tr>
            </thead>

            <tbody>

    {% for msp in partymsps %}

            <tr>

                <td>
                    <i class="glyphicon glyphicon-user"></i> <a href="/msp/msp/{{msp.foreignid}}">{{msp.firstname}}
                    {{msp.lastname}}</a>
                </td>
                <td>{{msp.party_startdate}}</td>

                <td>{{msp.party_enddate}}</td>
                <td><a href="/msp/constituency/{{msp.constituency.id}}">{{msp.constituency}}</a></td>
            </tr>
    {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endif %}
{% endif %}
{% endblock %}