{% extends "scottviz_app/base.html" %}

{% block content %}
{% if dict.regions %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Regions</th>
            </tr>
            </thead>

            <tbody>
            {% for region in dict.regions %}
            <tr>
                <th>{{region}}</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}